#post-card {
  border-radius: 1vw;
  background: #fff;
  border: 1px solid #d6dee5;
  padding: 30px;
  width: 80%;
  #post-card-hero {
    align-items: start;
    gap: 20px;
  }

  #post-card-footer {
    border-top: 1px solid #d6dee5;
    padding: 10px 0;
  }
}
.row-to-col-md {
  @media (max-width: 750px) {
    flex-direction: column;
  }
}
#container {
  gap: 10px;
  width: 40vw;
}
#feed {
  width: 50vw;
  gap: 10px;
  padding: 25px 15px;
}
#feed-container {
  overflow-y: scroll;
  gap: 20px;
}

.pointer {
  cursor: pointer;
}

.post {
  border: 1px solid #d6dee5;
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  gap: 20px;
  .flex-col {
    gap: 20px;
  }
  .username {
    gap: 8px;
  }

  .post-actions {
    gap: 16px;
  }

  .reply-actions {
    gap: 16px;
  }
}

.comments-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}
.has-comments {
  border-bottom-right-radius: 0;
}
.comment {
  border: 1px solid #d6dee5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
  width: 100%;

  padding: 20px;
  gap: 20px;
  .flex-col {
    gap: 20px;
  }
  .username {
    gap: 8px;
  }

  .post-actions {
    gap: 16px;
  }

  .reply-actions {
    gap: 16px;
  }
}
